fastapi>=0.128.0
uvicorn>=0.40.0
prometheus-client>=0.24.1
langchain-core>=1.2.7
langchain-community>=0.4.1
langchain-openai>=1.1.7
langchain-huggingface>=1.2.0
sentence-transformers>=5.2.0
faiss-cpu>=1.13.2
openai>=1.109.1
litellm>=1.80.0
fastuuid>=0.14.0
importlib-metadata>=8.7.1
zipp>=3.23.0
langdetect>=1.0.9
jpype1>=1.6.0
azure-cognitiveservices-vision-computervision>=0.9.1
msrest>=0.7.1
python-pptx>=1.0.2
pillow>=12.1.0
python-docx>=1.2.0
docx2pdf>=0.1.8
numpy>=2.4.1
pymupdf>=1.26.7
transformers>=4.57.6
pandas>=2.3.3
tokenizers>=0.22.2
python-multipart>=0.0.21
wolframalpha>=5.1.3
requests>=2.32.5
colorama>=0.4.6
feedparser>=6.0.12
python-dateutil>=2.9.0.post0
cohere>=5.20.1
python-dotenv>=1.2.1
httpx>=0.28.1
opencv-python>=4.13.0.90
pytesseract>=0.3.13
reportlab>=4.4.9
urllib3>=2.6.3
openpyxl>=3.1.5
nltk>=3.9.2
langchain-experimental>=0.4.1
sqlalchemy>=2.0.45
e2b-code-interpreter>=2.4.1
azure-ai-textanalytics>=5.3.0
tavily-python>=0.7.19
loguru>=0.7.3
qdrant-client>=1.16.2
azure-ai-documentintelligence>=1.0.2
concurrent-openai>=1.2.2
plotly>=6.5.2
rapidfuzz>=3.14.3
evds>=0.3.2
xlrd>=2.0.2
tabulate>=0.9.0
langchain-anthropic>=1.3.1
langchain>=1.2.6
aiosqlite==0.22.1
langgraph-checkpoint-sqlite==3.0.3
langchain-qwq==0.3.4