fastapi
uvicorn
prometheus_client
langchain-core
langchain-community
langchain-openai
langchain-huggingface
sentence-transformers
faiss-cpu
openai
langdetect
jpype1
azure-ai-formrecognizer
azure-cognitiveservices-vision-computervision
msrest
python-pptx
pillow
python-docx
docx2pdf
numpy
pymupdf
transformers
pandas
tokenizers
duckduckgo-search
python-multipart
openai-agents
